<!-- form handling -->
<form action="/api/products" method="POST" id="add_product">
    <div class="new_product">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Product Name">
        </div>
        <div class="form-group">
            <label for="price" class="text-light">Price</label>
            <input type="number" name="price" value="" placeholder="Product Price">
        </div>
        <div class="form-group">
            <label for="desctription" class="text-light">Description</label>
            <input type="text" name="description" value="" placeholder="Description">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>